{% extends "base.html" %}

{% block title %}Blog ({{ object_list|length }}){% endblock %}
{% block content %}
<ul>
    {% for article in object_list %}
        <li>
        <a 
            href="{% url "blog_article_detail" article.slug %}">
            {{ article.title }}
        </a>
        {{ article.created_on|date:"Y/m/d" }}
        <p>{{ article.description }}</p>  
        {% if article.thumbnail %}
        <img src="{{ article.thumbnail.url }}"/>
        {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
