{% extends "base.html" %}

{% block title %}Blog ({{ object_list|length }}){% endblock %}
{% block content %}
<div class="wrapper">
<ul class="article-list">
    {% for article in object_list %}
        <li class="article-item">
        <a
            class="article-title"
            href="{% url "blog_article_detail" article.slug %}">
            {{ article.title }}
        </a>
        <span class="post-info">
            {{ article.publish_date|date:"F d, Y" }}
        </span>
        {% if article.thumbnail %}
        <img class="article-thumb" src="{{ article.thumbnail.url }}"/>
        {% endif %}
        <p class="article-desc">{{ article.description }}</p>  
        <hr>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock content %}
