{% extends "base.html" %}

{% block title %}Work ({{ object_list|length }}){% endblock %}
{% block meta_description %}My portfolio, including motion design and graphic design{% endblock %}
{% block content %}
<ul class="work-list">
    {% for work in object_list %}
        <li class="work-item">
        <a
            class="work-title"
            href="{% url "work_detail" work.slug %}">
            {{ work.title }}
        </a>
        {% if work.thumbnail %}
        <img class="work-thumb" src="{{ work.thumbnail.url }}"/>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock content %}
