/* line 6, ../sass/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../sass/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../sass/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../sass/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto Light";
  src: url('../fonts/roboto/Roboto-Light-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Light-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Light-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Light-webfont.svg?1487171960') format('svg');
  font-weight: "300";
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg?1487171960') format('svg');
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg?1487171960') format('svg');
  font-weight: "700";
  font-style: normal;
}
@font-face {
  font-family: "Roboto Italic";
  src: url('../fonts/roboto/Roboto-Italic-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Italic-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Italic-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Italic-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Italic-webfont.svg?1487171960') format('svg');
  font-weight: "400";
  font-style: italic;
}
/* line 90, ../sass/_typography.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0em;
}

/* line 97, ../sass/_typography.scss */
b, strong {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* line 101, ../sass/_typography.scss */
i, em {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* line 105, ../sass/_typography.scss */
b > i, b > em, strong > i, strong > em, em > strong, em > b, i > strong, i > b {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
}

/* line 109, ../sass/_typography.scss */
p, ol, ul, blockquote, pre, code {
  line-height: 1.3em;
  letter-spacing: 0.01em;
  margin-bottom: 1.3em;
  text-align: justify;
}

/* line 118, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* line 120, ../sass/_typography.scss */
h1.dot, h2.dot, h3.dot, h4.dot, h5.dot, h6.dot {
  text-align: center;
}
/* line 122, ../sass/_typography.scss */
h1.dot:after, h2.dot:after, h3.dot:after, h4.dot:after, h5.dot:after, h6.dot:after {
  content: '\25CF';
  display: block;
  line-height: 29px;
  font-size: 20px;
}

/* line 132, ../sass/_typography.scss */
h1 {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  line-height: 0.5em;
  margin-bottom: 0.25em;
}

/* line 137, ../sass/_typography.scss */
h2 {
  font-size: 2em;
  line-height: 0.75em;
  margin-bottom: 0.375em;
}

/* line 141, ../sass/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 145, ../sass/_typography.scss */
h4 {
  font-size: 1.3em;
  line-height: 1.15385em;
  margin-bottom: 0.57692em;
}

/* line 149, ../sass/_typography.scss */
h5 {
  font-size: 1.1em;
  line-height: 1.36364em;
  margin-bottom: 0.68182em;
}

/* line 153, ../sass/_typography.scss */
h6 {
  font-size: 0.9em;
  line-height: 1.66667em;
  margin-bottom: 0.83333em;
}

/* line 14, ../sass/_margins.scss */
.m0a {
  margin: 0 auto;
}

/* line 15, ../sass/_margins.scss */
.ma0 {
  margin: auto 0;
}

/* line 16, ../sass/_margins.scss */
.maa {
  margin: auto auto;
}

/* line 11, ../sass/app.scss */
.wrap {
  max-width: 960px;
  margin: 0 auto;
}

/* line 16, ../sass/app.scss */
.wrap-full {
  width: 100%;
  margin: 0 auto;
}

/* line 22, ../sass/app.scss */
body {
  color: #3E3E3E;
  background-color: #f3f3f3;
}
