/* line 6, ../sass/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../sass/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../sass/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../sass/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/_grid.scss */
.grid {
  margin-bottom: 20px;
}
/* line 6, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
}

/* line 18, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 22, ../sass/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 25, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 28, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 31, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 34, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 37, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
/* line 42, ../sass/_grid.scss */
.grid-pad {
  padding: 20px 0 20px 20px;
}
/* line 44, ../sass/_grid.scss */
.grid-pad [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 48, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 1, ../sass/_display.scss */
.sr-only {
  display: none;
}

/* line 5, ../sass/_display.scss */
.d-block {
  display: block !important;
}

/* line 9, ../sass/_display.scss */
.d-inline {
  display: inline !important;
}

/* line 13, ../sass/_display.scss */
.d-inline-block {
  display: inline-block !important;
}

@font-face {
  font-family: "RobotoSlab";
  src: url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.eot?1487315714');
  src: url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.eot?&1487315714#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.woff?1487315714') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.ttf?1487315714') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Regular-webfont.svg?1487315714') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.eot?1487315714');
  src: url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.eot?&1487315714#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.woff?1487315714') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.ttf?1487315714') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Bold-webfont.svg?1487315714') format('svg');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Light-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Light-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Light-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Light-webfont.svg?1487171960') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Regular-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg?1487171960') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg?1487171960') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto/Roboto-Italic-webfont.eot?1487171960');
  src: url('../fonts/roboto/Roboto-Italic-webfont.eot?&1487171960#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Italic-webfont.woff?1487171960') format('woff'), url('../fonts/roboto/Roboto-Italic-webfont.ttf?1487171960') format('truetype'), url('../fonts/roboto/Roboto-Italic-webfont.svg?1487171960') format('svg');
  font-weight: 400;
  font-style: italic;
}
/* line 70, ../sass/_typography.scss */
.text-justify {
  text-align: justify;
}

/* line 74, ../sass/_typography.scss */
.text-left {
  text-align: left;
}

/* line 78, ../sass/_typography.scss */
.text-center {
  text-align: center;
}

/* line 82, ../sass/_typography.scss */
.text-right {
  text-align: right;
}

/* line 86, ../sass/_typography.scss */
.text-muted {
  color: #747070;
}

/* line 105, ../sass/_typography.scss */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #262525;
  font-size: 12.5pt;
  line-height: 1.5em;
  letter-spacing: 0rem;
  word-break: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

/* line 121, ../sass/_typography.scss */
b, strong {
  font-weight: 700;
}

/* line 125, ../sass/_typography.scss */
i, em {
  font-style: italic;
}

/* line 133, ../sass/_typography.scss */
p, ol, ul, blockquote, pre, code {
  margin-bottom: 1.3rem;
  line-height: 1.3em;
  text-align: justify;
  text-shadow: 1px 1px 1px #dadada;
  overflow-wrap: normal;
  text-overflow: ellipsis;
}
/* line 141, ../sass/_typography.scss */
p a, ol a, ul a, blockquote a, pre a, code a {
  text-decoration: none;
  border-bottom: 1px dashed #747070;
  color: #747070;
  text-shadow: 1px 1px 1px #e6e6e6;
}
/* line 147, ../sass/_typography.scss */
p a:hover, p a:focus, ol a:hover, ol a:focus, ul a:hover, ul a:focus, blockquote a:hover, blockquote a:focus, pre a:hover, pre a:focus, code a:hover, code a:focus {
  color: #403e3e;
}

/* line 157, ../sass/_typography.scss */
hr {
  border-color: #dadada;
  border-style: solid;
  border-width: 2px;
}

/* line 163, ../sass/_typography.scss */
a {
  color: #eaaa3b;
}

/* line 167, ../sass/_typography.scss */
.small, small {
  font-size: 60%;
}

/* line 171, ../sass/_typography.scss */
.mark, mark {
  padding: .2em;
  background-color: #fcf8e3;
}

/* line 178, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "RobotoSlab", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: .5rem;
}
/* line 182, ../sass/_typography.scss */
h1.dot, h2.dot, h3.dot, h4.dot, h5.dot, h6.dot {
  text-align: center;
}
/* line 184, ../sass/_typography.scss */
h1.dot:after, h2.dot:after, h3.dot:after, h4.dot:after, h5.dot:after, h6.dot:after {
  content: '\25CF';
  display: block;
  line-height: 29px;
  font-size: 20px;
}
/* line 192, ../sass/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #747070;
  font-weight: 400;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* line 203, ../sass/_typography.scss */
h1 {
  font-weight: 700;
}
@media screen and (max-width: 39.9375em) {
  /* line 203, ../sass/_typography.scss */
  h1 {
    font-size: 1.7em;
    line-height: 1.1;
  }
}
@media screen and (min-width: 60em) {
  /* line 203, ../sass/_typography.scss */
  h1 {
    font-size: 2.5em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 39.9375em) {
  /* line 214, ../sass/_typography.scss */
  h2 {
    font-size: 1.4em;
    line-height: 1.1;
  }
}
@media screen and (min-width: 60em) {
  /* line 214, ../sass/_typography.scss */
  h2 {
    font-size: 2em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 39.9375em) {
  /* line 224, ../sass/_typography.scss */
  h3 {
    font-size: 1.2em;
    line-height: 1.1;
  }
}
@media screen and (min-width: 60em) {
  /* line 224, ../sass/_typography.scss */
  h3 {
    font-size: 1.75em;
    line-height: 1.1;
  }
}

/* line 234, ../sass/_typography.scss */
h4 {
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 39.9375em) {
  /* line 234, ../sass/_typography.scss */
  h4 {
    font-size: 1.1em;
    line-height: 1.1;
  }
}
@media screen and (min-width: 60em) {
  /* line 234, ../sass/_typography.scss */
  h4 {
    font-size: 1.3em;
    line-height: 1.1;
  }
}

/* line 246, ../sass/_typography.scss */
h5 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #747070;
}
@media screen and (max-width: 39.9375em) {
  /* line 246, ../sass/_typography.scss */
  h5 {
    font-size: 1em;
    line-height: 1.1;
  }
}
@media screen and (min-width: 60em) {
  /* line 246, ../sass/_typography.scss */
  h5 {
    font-size: 1.1em;
    line-height: 1.1;
  }
}

/* line 258, ../sass/_typography.scss */
h6 {
  font-size: 0.9em;
  line-height: 1.1;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #747070;
}

/* line 1, ../sass/_media.scss */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
/* line 8, ../sass/_media.scss */
.embed-responsive::before {
  display: block;
  content: "";
}

/* line 14, ../sass/_media.scss */
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

/* line 18, ../sass/_media.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 23, ../sass/_media.scss */
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 1, ../sass/_spacing.scss */
.mxa {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* line 52, ../sass/_spacing.scss */
.m0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

/* line 53, ../sass/_spacing.scss */
.m1 {
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
  margin-bottom: 0.25em !important;
  margin-top: 0.25em !important;
}

/* line 54, ../sass/_spacing.scss */
.m2 {
  margin-left: 0.6em !important;
  margin-right: 0.6em !important;
  margin-bottom: 0.5em !important;
  margin-top: 0.5em !important;
}

/* line 55, ../sass/_spacing.scss */
.m3 {
  margin-left: 1.2em !important;
  margin-right: 1.2em !important;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

/* line 56, ../sass/_spacing.scss */
.m4 {
  margin-left: 1.8em !important;
  margin-right: 1.8em !important;
  margin-bottom: 1.5em !important;
  margin-top: 1.5em !important;
}

/* line 57, ../sass/_spacing.scss */
.m5 {
  margin-left: 3.6em !important;
  margin-right: 3.6em !important;
  margin-bottom: 3em !important;
  margin-top: 3em !important;
}

/* line 58, ../sass/_spacing.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 59, ../sass/_spacing.scss */
.mt1 {
  margin-top: 0.25em !important;
}

/* line 60, ../sass/_spacing.scss */
.mt2 {
  margin-top: 0.5em !important;
}

/* line 61, ../sass/_spacing.scss */
.mt3 {
  margin-top: 1em !important;
}

/* line 62, ../sass/_spacing.scss */
.mt4 {
  margin-top: 1.5em !important;
}

/* line 63, ../sass/_spacing.scss */
.mt5 {
  margin-top: 3em !important;
}

/* line 64, ../sass/_spacing.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 65, ../sass/_spacing.scss */
.mb1 {
  margin-bottom: 0.25em !important;
}

/* line 66, ../sass/_spacing.scss */
.mb2 {
  margin-bottom: 0.5em !important;
}

/* line 67, ../sass/_spacing.scss */
.mb3 {
  margin-bottom: 1em !important;
}

/* line 68, ../sass/_spacing.scss */
.mb4 {
  margin-bottom: 1.5em !important;
}

/* line 69, ../sass/_spacing.scss */
.mb5 {
  margin-bottom: 3em !important;
}

/* line 70, ../sass/_spacing.scss */
.ml0 {
  margin-left: 0 !important;
}

/* line 71, ../sass/_spacing.scss */
.ml1 {
  margin-left: 0.3em !important;
}

/* line 72, ../sass/_spacing.scss */
.ml2 {
  margin-left: 0.6em !important;
}

/* line 73, ../sass/_spacing.scss */
.ml3 {
  margin-left: 1.2em !important;
}

/* line 74, ../sass/_spacing.scss */
.ml4 {
  margin-left: 1.8em !important;
}

/* line 75, ../sass/_spacing.scss */
.ml5 {
  margin-left: 3.6em !important;
}

/* line 76, ../sass/_spacing.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 77, ../sass/_spacing.scss */
.mr1 {
  margin-right: 0.3em !important;
}

/* line 78, ../sass/_spacing.scss */
.mr2 {
  margin-right: 0.6em !important;
}

/* line 79, ../sass/_spacing.scss */
.mr3 {
  margin-right: 1.2em !important;
}

/* line 80, ../sass/_spacing.scss */
.mr4 {
  margin-right: 1.8em !important;
}

/* line 81, ../sass/_spacing.scss */
.mr5 {
  margin-right: 3.6em !important;
}

/* line 82, ../sass/_spacing.scss */
.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 83, ../sass/_spacing.scss */
.mx1 {
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
}

/* line 84, ../sass/_spacing.scss */
.mx2 {
  margin-left: 0.6em !important;
  margin-right: 0.6em !important;
}

/* line 85, ../sass/_spacing.scss */
.mx3 {
  margin-left: 1.2em !important;
  margin-right: 1.2em !important;
}

/* line 86, ../sass/_spacing.scss */
.mx4 {
  margin-left: 1.8em !important;
  margin-right: 1.8em !important;
}

/* line 87, ../sass/_spacing.scss */
.mx5 {
  margin-left: 3.6em !important;
  margin-right: 3.6em !important;
}

/* line 88, ../sass/_spacing.scss */
.my0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

/* line 89, ../sass/_spacing.scss */
.my1 {
  margin-bottom: 0.25em !important;
  margin-top: 0.25em !important;
}

/* line 90, ../sass/_spacing.scss */
.my2 {
  margin-bottom: 0.5em !important;
  margin-top: 0.5em !important;
}

/* line 91, ../sass/_spacing.scss */
.my3 {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

/* line 92, ../sass/_spacing.scss */
.my4 {
  margin-bottom: 1.5em !important;
  margin-top: 1.5em !important;
}

/* line 93, ../sass/_spacing.scss */
.my5 {
  margin-bottom: 3em !important;
  margin-top: 3em !important;
}

/* line 94, ../sass/_spacing.scss */
.p0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 95, ../sass/_spacing.scss */
.p1 {
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
  padding-bottom: 0.25em !important;
  padding-top: 0.25em !important;
}

/* line 96, ../sass/_spacing.scss */
.p2 {
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.5em !important;
  padding-top: 0.5em !important;
}

/* line 97, ../sass/_spacing.scss */
.p3 {
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  padding-bottom: 1em !important;
  padding-top: 1em !important;
}

/* line 98, ../sass/_spacing.scss */
.p4 {
  padding-left: 1.8em !important;
  padding-right: 1.8em !important;
  padding-bottom: 1.5em !important;
  padding-top: 1.5em !important;
}

/* line 99, ../sass/_spacing.scss */
.p5 {
  padding-left: 3.6em !important;
  padding-right: 3.6em !important;
  padding-bottom: 3em !important;
  padding-top: 3em !important;
}

/* line 100, ../sass/_spacing.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 101, ../sass/_spacing.scss */
.pt1 {
  padding-top: 0.25em !important;
}

/* line 102, ../sass/_spacing.scss */
.pt2 {
  padding-top: 0.5em !important;
}

/* line 103, ../sass/_spacing.scss */
.pt3 {
  padding-top: 1em !important;
}

/* line 104, ../sass/_spacing.scss */
.pt4 {
  padding-top: 1.5em !important;
}

/* line 105, ../sass/_spacing.scss */
.pt5 {
  padding-top: 3em !important;
}

/* line 106, ../sass/_spacing.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 107, ../sass/_spacing.scss */
.pb1 {
  padding-bottom: 0.25em !important;
}

/* line 108, ../sass/_spacing.scss */
.pb2 {
  padding-bottom: 0.5em !important;
}

/* line 109, ../sass/_spacing.scss */
.pb3 {
  padding-bottom: 1em !important;
}

/* line 110, ../sass/_spacing.scss */
.pb4 {
  padding-bottom: 1.5em !important;
}

/* line 111, ../sass/_spacing.scss */
.pb5 {
  padding-bottom: 3em !important;
}

/* line 112, ../sass/_spacing.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 113, ../sass/_spacing.scss */
.pl1 {
  padding-left: 0.3em !important;
}

/* line 114, ../sass/_spacing.scss */
.pl2 {
  padding-left: 0.6em !important;
}

/* line 115, ../sass/_spacing.scss */
.pl3 {
  padding-left: 1.2em !important;
}

/* line 116, ../sass/_spacing.scss */
.pl4 {
  padding-left: 1.8em !important;
}

/* line 117, ../sass/_spacing.scss */
.pl5 {
  padding-left: 3.6em !important;
}

/* line 118, ../sass/_spacing.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 119, ../sass/_spacing.scss */
.pr1 {
  padding-right: 0.3em !important;
}

/* line 120, ../sass/_spacing.scss */
.pr2 {
  padding-right: 0.6em !important;
}

/* line 121, ../sass/_spacing.scss */
.pr3 {
  padding-right: 1.2em !important;
}

/* line 122, ../sass/_spacing.scss */
.pr4 {
  padding-right: 1.8em !important;
}

/* line 123, ../sass/_spacing.scss */
.pr5 {
  padding-right: 3.6em !important;
}

/* line 124, ../sass/_spacing.scss */
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 125, ../sass/_spacing.scss */
.px1 {
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
}

/* line 126, ../sass/_spacing.scss */
.px2 {
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
}

/* line 127, ../sass/_spacing.scss */
.px3 {
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
}

/* line 128, ../sass/_spacing.scss */
.px4 {
  padding-left: 1.8em !important;
  padding-right: 1.8em !important;
}

/* line 129, ../sass/_spacing.scss */
.px5 {
  padding-left: 3.6em !important;
  padding-right: 3.6em !important;
}

/* line 130, ../sass/_spacing.scss */
.py0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* line 131, ../sass/_spacing.scss */
.py1 {
  padding-bottom: 0.25em !important;
  padding-top: 0.25em !important;
}

/* line 132, ../sass/_spacing.scss */
.py2 {
  padding-bottom: 0.5em !important;
  padding-top: 0.5em !important;
}

/* line 133, ../sass/_spacing.scss */
.py3 {
  padding-bottom: 1em !important;
  padding-top: 1em !important;
}

/* line 134, ../sass/_spacing.scss */
.py4 {
  padding-bottom: 1.5em !important;
  padding-top: 1.5em !important;
}

/* line 135, ../sass/_spacing.scss */
.py5 {
  padding-bottom: 3em !important;
  padding-top: 3em !important;
}

/* line 15, ../sass/app.scss */
[class*='wrap'] {
  margin: 0 auto;
}
@media screen and (max-width: 59.9375em) {
  /* line 15, ../sass/app.scss */
  [class*='wrap'] {
    padding: 1em;
  }
}

/* line 21, ../sass/app.scss */
.wrap {
  max-width: 960px;
}

/* line 25, ../sass/app.scss */
.wrap-xl {
  max-width: 1024px;
}

/* line 29, ../sass/app.scss */
.wrap-full {
  width: 100%;
}

/* line 33, ../sass/app.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../sass/app.scss */
body {
  background-color: #f3f3f3;
}

@media screen and (min-width: 60em) {
  /* line 48, ../sass/app.scss */
  .main-nav {
    float: left;
    max-width: 15%;
    padding-right: 1.3em;
  }

  /* line 54, ../sass/app.scss */
  .main-content {
    margin-left: 15%;
  }
  /* line 57, ../sass/app.scss */
  .main-content:after {
    content: '';
    display: block;
    clear: both;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 67, ../sass/app.scss */
  .welcome-info {
    margin-bottom: 0 !important;
  }
  /* line 68, ../sass/app.scss */
  .welcome-info h1 {
    font-size: 1.5em;
  }
  /* line 72, ../sass/app.scss */
  .welcome-info p {
    padding-bottom: 0 !important;
  }

  /* line 79, ../sass/app.scss */
  .main-wrap {
    margin-top: 0 !important;
  }

  /* line 84, ../sass/app.scss */
  .main-nav .site-logo {
    display: none;
  }
}
/* line 95, ../sass/app.scss */
ul li {
  margin-bottom: 0.5em;
}
/* line 99, ../sass/app.scss */
ul li.active a {
  color: #262525;
  font-weight: 700;
  margin-left: 0.2em;
}
/* line 107, ../sass/app.scss */
ul li a {
  text-decoration: none;
  border-bottom: none;
}

/* line 117, ../sass/app.scss */
nav ul.pagination li {
  display: inline-block;
  padding: 0.7em 1em;
}

/* line 133, ../sass/app.scss */
.portfolio:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}
/* line 140, ../sass/app.scss */
.portfolio .portfolio-item {
  float: left;
  width: 33.33%;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 145, ../sass/app.scss */
.portfolio .portfolio-item:last-of-type {
  padding-right: 0;
  padding-left: 20px;
}
/* line 149, ../sass/app.scss */
.portfolio .portfolio-item:first-of-type {
  padding-left: 0;
  padding-right: 20px;
}
/* line 154, ../sass/app.scss */
.portfolio .portfolio-item .portfolio-item-tag {
  font-weight: 200;
  font-style: italic;
}
@media screen and (max-width: 39.9375em) {
  /* line 140, ../sass/app.scss */
  .portfolio .portfolio-item {
    float: none;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  /* line 165, ../sass/app.scss */
  .portfolio .portfolio-item:last-of-type {
    padding-right: 0;
    padding-left: 0;
  }
  /* line 169, ../sass/app.scss */
  .portfolio .portfolio-item:first-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 174, ../sass/app.scss */
  .portfolio .portfolio-item .portfolio-thumbnail {
    width: 100%;
  }
}

/* line 186, ../sass/app.scss */
.form-group label {
  display: block;
  margin-bottom: .2em;
}
/* line 191, ../sass/app.scss */
.form-group input, .form-group textarea {
  margin-bottom: 1em;
  width: 100%;
  background-color: #e6e6e6;
  color: #4d4b4b;
  border: none;
  padding: 0.8em 1.3em;
}
/* line 202, ../sass/app.scss */
.form-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 213, ../sass/app.scss */
.btn {
  border: none;
  padding: 0.8em 1.3em;
  background-color: #262525;
  color: #f3f3f3;
  display: inline-block;
}

/* line 221, ../sass/app.scss */
a.btn {
  text-decoration: none;
}

/* line 226, ../sass/app.scss */
.btn-group .btn {
  margin: 0 0.5em 0.5em 0;
}

/* line 235, ../sass/app.scss */
.alert {
  padding: 0.5em 1em;
  background-color: #262525;
  color: #f3f3f3;
}
/* line 241, ../sass/app.scss */
.alert .close {
  border: none;
  background: none;
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: -2px;
  right: 3px;
}

/* line 254, ../sass/app.scss */
.alert-danger {
  background-color: #dc3737;
}

/* line 262, ../sass/app.scss */
table {
  border: #dadada 1px solid;
  color: #262525;
  font-weight: 300;
  text-align: left;
  width: 100%;
  margin-bottom: 1em;
}
/* line 271, ../sass/app.scss */
table a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}
/* line 277, ../sass/app.scss */
table th {
  padding: 1.2em 0.7em;
  background: #262525;
  color: #f3f3f3;
}
/* line 284, ../sass/app.scss */
table tr {
  border-bottom: #dadada 1px solid;
}
/* line 286, ../sass/app.scss */
table tr:hover td {
  background: white;
}
/* line 291, ../sass/app.scss */
table td {
  padding: 1em 0.7em;
  background: white;
}
