@import "bourbon/bourbon";
@import "neat/neat";
$font-stack-system: $helvetica;
@import "base/base";

.clear{
    clear:both;
    float:none;
}

/* Links */

a, a strong {
  color: #0086b3;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
h2 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}
h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}


/* Lists */

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Code */

code,
pre {
  font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .125em .5em;
  font-size: 85%;
  color: #990073;
  background-color: #faf0f7;
  border-radius: 5px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  border-radius: 5px;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 5px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 100%;
}

video {
  margin-bottom: 1rem;
}

.noborder {
  border-radius: 0;
}

.shadow {
  box-shadow: 0px 2px 5px 2px #ccc;
}
/* Tables */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/* Container */

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/* Posts and Pages */

.page,
.post {
  margin-bottom: 4em;
  word-wrap: break-word;

  .post-content{
      
      p{
          text-align: justify;
      }
  }
}

/* Blog post or page title */

.page-title,
.post-title,
.post-title a {
  color: #303030;
}
h1.post-title,
h1.page-title {
  font-size: 2rem;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */

.post-info {
  font-size: 0.8rem;
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #7a7a7a;
}

.inline-post-date {
  color: #7a7a7a;
}
/* Container */

.content {
  padding-top:    1rem;
  padding-bottom: 4rem;
}

@media (min-width: 1160px) {
  .content {
    padding-top: 4rem;
    max-width: 40rem;
  }
}

/* Header */


.site-header{
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1em;

    .site-logo{
        flex-grow: 1;
        font-size: 150%;

    }

    .site-nav{
        ul{
            display: flex;
            flex-flow: row wrap;
            li{
                list-style-type:none;
                & + li{
                    margin-left: 2em;
                    margin-top: 0;
                }
            }

        }


    }
}

@media (max-width: 600px){
    .site-header{
        flex-flow: column wrap;
        .site-logo{
            text-align: center;
        }
        .site-nav{
            margin-top: 1em;
            ul{
                text-align: center;
                flex-flow: column wrap;
                li{
                    & + li{
                        margin-left: 0;
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }
}

/* Site footer */

.site-footer{

    padding: 1em;
    text-align:center;

    p{
        margin: 0;
    }


}

/* Blog index */

.article-list{


    .article-item{

        .article-thumb{
            margin-bottom: 1em;
        }

        .article-desc{
            text-align: justify;
        }

    }

}

/* Home page */

.home-descriptor{
    text-align: center;
    max-width: 100%;
    margin: 20% auto;
    font-size: 150%;

    .name a{
        color: black;
    }

    .subtitle a{
        color: grey;
    }

}
