{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.description }}{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="post">
        <h1 class="post-title">{{ article.title }}</h1>
        <span class="post-info">
            {{ article.publish_date|date:"F d, Y" }}
        </span>
        <div class="post-content">
            {{ article.text | safe }}
        </div>
    </div>
</div>
{% endblock content %}
