
$background-color: #fbfbfb;
$header-background-color: #2b2b2b;
$header-social-color: #ffa736;
$header-description-color: #f2f2f2;
$header-title-color: #f2f2f2;

$main-title-color: #1c1c1c;

$post-time-color: #959595;

$darkest-color: $header-background-color;
$dark-color: $background-color;
$light-color: $post-time-color;
$lightest-color: $header-social-color;
$link-color: #a25b00;
$primary-color: #2d2d2d;

body {
  background-color: #fff;
}

.app-header-avatar {
  max-width: 10rem;
  max-height: 10rem;
  border: none;
}

.app-header-social a {
  color: $header-social-color;
}

.app-header h1 a {
  color: $header-title-color;
}

.app-header p {
  color: $header-description-color;
}

.app-container h1 {
  color: $main-title-color;
}

.app-container .posts-list-item-title {
  color: $primary-color;
  border-bottom: none;
}

.post-list-item-description {
  color: $post-time-color;
}

// 
// Extents
// 

%main-title {
  font-size: 2rem;
  color: #303030;
}

%main-title-sub-description {
  color: #7a7a7a;
  font-size: 0.8rem;
}

%paragraph {
  color: #515151;
  font-size: 1.0rem;
}

%quote {
  border-left: 5px solid #b3b3b3;
  padding-left: 1rem;
  margin-left: 0px;

  p {
    color: #848484;
  }
}

%code-in-text {
  padding: .125rem .3rem;
  font-size: 85%;
  color: #3a5c77;
  background-color: #cfe9f9;
  border-radius: 5px;
}

//
// Home
//

.app-container {

  h2 {
    @extend %main-title;
  }

  .posts-list {
    .posts-list-item {

      a.posts-list-item-title
      {
        color: $primary-color;
      }

      span.posts-list-item-description {
        @extend %main-title-sub-description;
      }
    }
  }
}

//
// Blog post
//

.app-container {
  article.post {
    header.post-header {

      h1.post-title {
        @extend %main-title;
        margin-bottom: 0;
      }

      .post-meta {
        @extend %main-title-sub-description;

        margin-bottom: 2.0rem;
      }
    }

    .post-content {
      p {
        @extend %paragraph;

        code {
          @extend %code-in-text;
        }
      }

      blockquote {
        @extend %quote;
      }
    }
  }
}

//
// Other
//

.app-container strong a, .app-container a {
  color: $link-color;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.app-container p code:not([class]), .app-container li code:not([class]) {
  background-color: #dfdfdf;
  color: rgba(4, 4, 4, 0.8);
  padding: 0 0.3em;
}

.app-container pre code {
  color: inherit;
}

.app-container pre:not([class]) {
  background-color: #dfdfdf;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  code:not([class]) {
    color: $main-title-color;
  }
}