{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Digital art and programming{% endblock %} - oktomus.com</title>
        <meta 
            name="description" 
            content="{% block meta_description %}Programming, digital art, check out my work and my blog and then let's work together !{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/app.css' %}"/>
        <link rel="canonical" href="https://oktomus.com{{ request.path }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'faveicon.ico' %}" />
    </head>
    <body class="site">

        {% block navbar %}
        <header class="site-header">
            <div class="site-logo">
                Digital art and programming
            </div>
            <nav class="site-nav">
                <ul>
                    <li><a 
                            href="{% url "home" %}" title="Homepage">
                            Home
                    </a></li>
                    <li><a 
                            href="/work/" title="See my work">
                            Work
                    </a></li>
                    <li><a 
                            href="{% url "blog:article_list" %}" title="Read my articles">
                            Blog
                    </a></li>
                    <li><a 
                            href="/about/" title="About me">
                            About
                    </a></li>
                </ul>
            </nav>
        </header>
        {% block sidebar %}
        {% endblock %}

        <main class="site-content">
            {% block content %}
            
            {% endblock %}
        </main>

        {% endblock %}
        <footer class="site-footer">
            {% block footer %}
            <p>Everything is licensed under a 
                <a 
                    title="Licence used on my content" 
                    href="https://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 license
                </a> unless otherwise noted in the page.
            </p>
            <p>This website was made using Django and the 
                <a 
                    title="Website source code" 
                    href="https://github.com/oktomus/website">
                    source code
                </a> is available on github
            </p>
            {% endblock %}
        </footer>
    </body>
</html>
