{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Digital art and programming</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/app.css' %}"/>
    </head>
    <body>

        {% block navbar %}
        <div class="site-header">
            <div class="site-logo">
                Digital art and programming
            </div>
            <nav class="site-nav">
                <ul>
                    <li><a 
                            href="{% url "home" %}" title="Homepage">
                            Home
                    </a></li>
                    <li><a 
                            href="/work/" title="See my work">
                            Work
                    </a></li>
                    <li><a 
                            href="{% url "article_list" %}" title="Read my articles">
                            Blog
                    </a></li>
                    <li><a 
                            href="/about/" title="About me">
                            About
                    </a></li>
                </ul>
            </nav>
        </div>
        <div class="clear"></div>
        {% endblock %}

        {% block content %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
        {% block footer %}
        <div class="site-footer">
            <p>Everything is licensed under a 
                <a 
                    title="Licence used on my content" 
                    href="https://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 license
                </a> unless otherwise noted in the page.
            </p>
            <p>This website was made using Django and the 
                <a 
                    title="Website source code" 
                    href="https://github.com/oktomus/website">
                    source code
                </a> is available on github
            </p>
        </div>
        {% endblock %}
    </body>
</html>
