.embed-responsive{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before{
        display: block;
        content: "";
    }
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
