.embed-responsive{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before{
        display: block;
        content: "";
    }
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
