.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

@mixin spaceCalc($type, $direction, $size){
    $size-x : 0;
    $size-y : 0;
    @if $size > 0 {
        @if $size == 1 {
            $size-x : .25 * $space-x;
            $size-y : .25 * $space-y;
        } @else if $size == 2 {
            $size-x : .5 * $space-x;
            $size-y : .5 * $space-y;
        } @else if $size == 3 {
            $size-x :  $space-x;
            $size-y : $space-y;
        } @else if $size == 4 {
            $size-x : 1.5 * $space-x;
            $size-y : 1.5 * $space-y;
        } @else if $size == 5 {
            $size-x : 3 * $space-x;
            $size-y : 3 * $space-y;
        }
    }

    @if $direction == x {
        #{$type}-left : $size-x;
        #{$type}-right : $size-x;
    } @else if $direction == y{
        #{$type}-bottom : $size-y;
        #{$type}-top : $size-y;
    } @else if $direction == all{
        #{$type}-left : $size-x;
        #{$type}-right : $size-x;
        #{$type}-bottom : $size-y;
        #{$type}-top : $size-y;
    } @else {
        @if $direction == top {
            #{$type}-#{$direction} : $size-y;
        } @else if $direction == bottom {
            #{$type}-#{$direction} : $size-y;
        } @else if $direction == left {
            #{$type}-#{$direction} : $size-x;
        } @else if $direction == right {
            #{$type}-#{$direction} : $size-x;
        }
    }
}

.m0 { @include spaceCalc(margin, all, 0); }
.m1 { @include spaceCalc(margin, all, 1); }
.m2 { @include spaceCalc(margin, all, 2); }
.m3 { @include spaceCalc(margin, all, 3); }
.m4 { @include spaceCalc(margin, all, 4); }
.m5 { @include spaceCalc(margin, all, 5); }
.mt0 { @include spaceCalc(margin, top, 0); }
.mt1 { @include spaceCalc(margin, top, 1); }
.mt2 { @include spaceCalc(margin, top, 2); }
.mt3 { @include spaceCalc(margin, top, 3); }
.mt4 { @include spaceCalc(margin, top, 4); }
.mt5 { @include spaceCalc(margin, top, 5); }
.mb0 { @include spaceCalc(margin, bottom, 0); }
.mb1 { @include spaceCalc(margin, bottom, 1); }
.mb2 { @include spaceCalc(margin, bottom, 2); }
.mb3 { @include spaceCalc(margin, bottom, 3); }
.mb4 { @include spaceCalc(margin, bottom, 4); }
.mb5 { @include spaceCalc(margin, bottom, 5); }
.ml0 { @include spaceCalc(margin, left, 0); }
.ml1 { @include spaceCalc(margin, left, 1); }
.ml2 { @include spaceCalc(margin, left, 2); }
.ml3 { @include spaceCalc(margin, left, 3); }
.ml4 { @include spaceCalc(margin, left, 4); }
.ml5 { @include spaceCalc(margin, left, 5); }
.mr0 { @include spaceCalc(margin, right, 0); }
.mr1 { @include spaceCalc(margin, right, 1); }
.mr2 { @include spaceCalc(margin, right, 2); }
.mr3 { @include spaceCalc(margin, right, 3); }
.mr4 { @include spaceCalc(margin, right, 4); }
.mr5 { @include spaceCalc(margin, right, 5); }
.mx0 { @include spaceCalc(margin, x, 0); }
.mx1 { @include spaceCalc(margin, x, 1); }
.mx2 { @include spaceCalc(margin, x, 2); }
.mx3 { @include spaceCalc(margin, x, 3); }
.mx4 { @include spaceCalc(margin, x, 4); }
.mx5 { @include spaceCalc(margin, x, 5); }
.my0 { @include spaceCalc(margin, y, 0); }
.my1 { @include spaceCalc(margin, y, 1); }
.my2 { @include spaceCalc(margin, y, 2); }
.my3 { @include spaceCalc(margin, y, 3); }
.my4 { @include spaceCalc(margin, y, 4); }
.my5 { @include spaceCalc(margin, y, 5); }
.p0 { @include spaceCalc(padding, all, 0); }
.p1 { @include spaceCalc(padding, all, 1); }
.p2 { @include spaceCalc(padding, all, 2); }
.p3 { @include spaceCalc(padding, all, 3); }
.p4 { @include spaceCalc(padding, all, 4); }
.p5 { @include spaceCalc(padding, all, 5); }
.pt0 { @include spaceCalc(padding, top, 0); }
.pt1 { @include spaceCalc(padding, top, 1); }
.pt2 { @include spaceCalc(padding, top, 2); }
.pt3 { @include spaceCalc(padding, top, 3); }
.pt4 { @include spaceCalc(padding, top, 4); }
.pt5 { @include spaceCalc(padding, top, 5); }
.pb0 { @include spaceCalc(padding, bottom, 0); }
.pb1 { @include spaceCalc(padding, bottom, 1); }
.pb2 { @include spaceCalc(padding, bottom, 2); }
.pb3 { @include spaceCalc(padding, bottom, 3); }
.pb4 { @include spaceCalc(padding, bottom, 4); }
.pb5 { @include spaceCalc(padding, bottom, 5); }
.pl0 { @include spaceCalc(padding, left, 0); }
.pl1 { @include spaceCalc(padding, left, 1); }
.pl2 { @include spaceCalc(padding, left, 2); }
.pl3 { @include spaceCalc(padding, left, 3); }
.pl4 { @include spaceCalc(padding, left, 4); }
.pl5 { @include spaceCalc(padding, left, 5); }
.pr0 { @include spaceCalc(padding, right, 0); }
.pr1 { @include spaceCalc(padding, right, 1); }
.pr2 { @include spaceCalc(padding, right, 2); }
.pr3 { @include spaceCalc(padding, right, 3); }
.pr4 { @include spaceCalc(padding, right, 4); }
.pr5 { @include spaceCalc(padding, right, 5); }
.px0 { @include spaceCalc(padding, x, 0); }
.px1 { @include spaceCalc(padding, x, 1); }
.px2 { @include spaceCalc(padding, x, 2); }
.px3 { @include spaceCalc(padding, x, 3); }
.px4 { @include spaceCalc(padding, x, 4); }
.px5 { @include spaceCalc(padding, x, 5); }
.py0 { @include spaceCalc(padding, y, 0); }
.py1 { @include spaceCalc(padding, y, 1); }
.py2 { @include spaceCalc(padding, y, 2); }
.py3 { @include spaceCalc(padding, y, 3); }
.py4 { @include spaceCalc(padding, y, 4); }
.py5 { @include spaceCalc(padding, y, 5); }
