// ##########################
// FONT FACE
// ##########################

$fontsDir : "";
$robotoDir : $fontsDir + "roboto/";
$robotoSlabDir : $fontsDir + "roboto-slab/";

$roboRegular : $robotoDir + "Roboto-Regular-webfont";
$roboLight : $robotoDir + "Roboto-Light-webfont";
$roboBold : $robotoDir + "Roboto-Bold-webfont";
$roboItalic : $robotoDir + "Roboto-Italic-webfont";
$roboBoldItalic : $robotoDir + "Roboto-BoldItalic-webfont";

$robotoSlabRegular : $robotoSlabDir + "RobotoSlab-Regular-webfont";
$robotoSlabThin : $robotoSlabDir + "RobotoSlab-Thin-webfont";
$robotoSlabLight : $robotoSlabDir + "RobotoSlab-Light-webfont";
$robotoSlabBold : $robotoSlabDir + "RobotoSlab-Bold-webfont";

@include font-face("RobotoSlab",
    font-files(
        $robotoSlabRegular + ".woff",
        $robotoSlabRegular + ".ttf",
        $robotoSlabRegular + ".svg"
    ), $robotoSlabRegular + ".eot", 400, normal);

@include font-face("RobotoSlab",
    font-files(
        $robotoSlabBold + ".woff",
        $robotoSlabBold + ".ttf",
        $robotoSlabBold + ".svg"
    ), $robotoSlabBold + ".eot", 700, bold);

// @include font-face("Roboto",
//     font-files(
//         $roboLight + ".woff",
//         $roboLight + ".ttf",
//         $roboLight + ".svg"
//     ), $roboLight + ".eot", 300, normal);

@include font-face("Roboto",
    font-files(
        $roboRegular + ".woff",
        $roboRegular + ".ttf",
        $roboRegular + ".svg"
    ), $roboRegular + ".eot", 400, normal);

@include font-face("Roboto",
    font-files(
        $roboBold + ".woff",
        $roboBold + ".ttf",
        $roboBold + ".svg"
    ), $roboBold + ".eot", 700, normal);

@include font-face("Roboto",
    font-files(
        $roboItalic + ".woff",
        $roboItalic + ".ttf",
        $roboItalic + ".svg"
    ), $roboItalic + ".eot", 400, italic);

@mixin ffamily($font){
    font-family: $font, Helvetica, Arial, sans-serif;
}

// ##########################
// UTILS
// ##########################

.text-justify{
    text-align: justify;
}

.text-left{
    text-align: left;
}

.text-right{
    text-right:justify;
}

.text-muted{
    color: lighten($color, 30%);
}

// ##########################
// TYPO
// ##########################

$body-lh : 1.5em;

@mixin flm($size, $factor:1em, $margin:1){
    font-size: $size;
    line-height: 1.1;
    //line-height: ($body-lh/$size)*$factor;
    // @if $margin == 1{
    //     margin-bottom: $body-lh/($size)*$factor;
    // }
}

body{
    @include ffamily("Roboto");
    font-style: normal;
    font-weight: 400;
    color: $color;
    font-size: 12.5pt;
    line-height: $body-lh;
    letter-spacing: 0rem;
	word-break: normal;
	overflow-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

b, strong{
    font-weight: 700;
}

i, em{
    font-style: italic;
}

b > i, b > em, strong > i, strong > em, em > strong, em > b, i > strong, i > b{
    // Nothing
}

p, ol, ul, blockquote, pre, code{
    margin-bottom: 1.3rem;
    line-height: 1.3em;
    text-align: justify;
    text-shadow: 1px 1px 1px darken($background, 10%);
	overflow-wrap: normal;
	text-overflow: ellipsis;

    a {
        text-decoration: none;
        border-bottom: 1px dashed lighten($color, 30%);
        color: lighten($color, 30%);
        text-shadow: 1px 1px 1px darken($background, 5%);

        &:before{
            // Nothing
        }
    }
}

hr{
	border-color: darken($background, 10%);
	border-style: solid;
	border-width: 2px;
}

a{
    color: $primaryColor;
}

.small, small{
    font-size: 60%;
}

.mark, mark {
    padding: .2em;
    background-color: #fcf8e3;
}

// HEADINGS

#{headings()}{
    @include ffamily("RobotoSlab");
    font-weight: 400;
    font-style: normal;
    &.dot{
        text-align: center;
        &:after{
            content: '\25CF';
            display: block;
            line-height: 29px;
            font-size: 20px;
        }
    }

    small {
        color: lighten($color, 30%);
        font-weight: 400;
        @include ffamily("Roboto");

    }

    margin-bottom: .5rem;
}


h1{
    font-weight: 700;
    @include flm(2.5em);
}

h2 {
    @include flm(2em);
}

h3 {
    @include flm(1.75em);
}

h4 {
    @include flm(1.5em);
}

h5 {
    @include flm(1.4em);
}

h6 {
    @include flm(1.3em);
}
