@import "meyer-reset";
@import "compass";
@import "settings";
@import "queries";
@import "grid";
@import "display";
@import "typography";
@import "media";
@import "spacing";


// ##########################
// WRAPPING
// ##########################

[class*='wrap']{
    margin: 0 auto;
    @include breakpoint(medium down){
        padding: 1em;
    }
}
.wrap{
    max-width: map-get($breakpoints, normal);
}

.wrap-xl{
    max-width: map-get($breakpoints, large);
}

.wrap-full{
    width: 100%;
}

* {
    @include box-sizing(border-box);
}

body{
    background-color: $background;
}

// ##########################
// MAIN WRAP
// ##########################

@include breakpoint(medium up){


    .main-nav{
        float:left;
        max-width:15%;
        padding-right:1.3em;

        .site-logo{
            display:block;
        }
    }

    .main-content{
        margin-left:15%;

        &:after{
            content:'';
            display:block;
            clear:both;
        }
    }

}

@include breakpoint(medium down){
    .welcome-info{
        h1{
            font-size: 1.5em;
        }

        p{
            padding-bottom: 0 !important;
        }

        margin-bottom: 0 !important;
    }

    .main-wrap{
        margin-top: 0 !important;
    }

    .main-nav{
        .site-logo{
            display:none;
        }
    }
}

// ##########################
// NAV
// ##########################

ul{
    li{
        margin-bottom: 0.5em;

        &.active{
            a{
                color: $color;
                font-weight: 700;
                margin-left:0.2em;

            }
        }

        a{
            text-decoration:none;
            border-bottom: none;
        }
    }
}

nav{

	ul.pagination{
		li{
			display:inline-block;
			padding: 0.7em 1em;
		}

	}
}

// ##########################
// PORTFOLIO
// ##########################

.portfolio{
    $pad : 20px;


    &:after {
        /* Or @extend clearfix */
        content: "";
        display: table;
        clear: both;
    }

    .portfolio-item{
        float: left;
        width: 33.33%;
        padding-right: $pad / 2;
        padding-left: $pad / 2;
        &:last-of-type {
            padding-right: 0;
            padding-left: $pad;
        }
        &:first-of-type {
            padding-left: 0;
            padding-right: $pad;
        }

        .portfolio-item-tag{
            font-weight: 200;
            font-style: italic;
        }

        @include breakpoint(small only){
            float: none;
            width: 100%;
            padding-right: 0;
            padding-left: 0;

            &:last-of-type {
                padding-right: 0;
                padding-left: 0;
            }
            &:first-of-type {
                padding-left: 0;
                padding-right: 0;
            }

            .portfolio-thumbnail{
                width: 100%;
            }
        }
    }
}

// ##########################
// FORMS
// ##########################

.form-group{
    label{
        display:block;
        margin-bottom: .2em;

    }
    input, textarea{
        margin-bottom: 1em;
        width: 100%;
        background-color: darken($background, 5%);
        color: lighten($color, 15%);
        border: none;
        padding: 0.8em 1.3em;


    }
}


// ##########################
// BUTTONS
// ##########################

.btn{
    border: none;
    padding: 0.8em 1.3em;
    background-color: $color;
    color: $background;
    display: inline-block;
}

a.btn{
    text-decoration:none;
}

.btn-group{
    .btn{
        margin: 0 0.5em 0.5em 0;
    }
}

// ##########################
// ALERTS
// ##########################

.alert{

    padding: 0.5em 1em;
    background-color: $color;
    color: $background;

    .close{
        border: none;
        background: none;
        color: white;
        font-size: 1.5em;
        position: absolute;
        top: -2px;
        right: 3px;
    }


}

.alert-danger{
    background-color: #dc3737;
}

// ##########################
// TABLE
// ##########################

table {
	border:darken($background, 10%) 1px solid;
	color: $color;
	font-weight: 300;
	text-align: left;
	width:100%;

	margin-bottom: 1em;

	a{
		color: inherit;
		font-weight: 700;
		text-decoration: none;
	}

	th{
		padding: 1.2em 0.7em;
		background: $color;
		color: $background;

	}

	tr{
		border-bottom: darken($background, 10%) 1px solid;
		&:hover td{
			background: lighten($background, 10%);
		}
	}

	td{
		padding: 1em 0.7em;
		background: lighten($background, 30%);
	}
}
