@import "meyer-reset";
@import "compass";
@import "settings";
@import "queries";
@import "typography";
@import "margins";

// ##########################
// WRAPPING
// ##########################


.wrap{
   max-width: $wrap-width;
}

.wrap-full{
   width: 100%;
}

.wrap, .wrap-full{
   @include m0a;

   @include breakpoint(medium down){
	   padding: 1em;
   }
}



body{
    background-color: $background;
}
